install:
    install_name:
        tmp_dir: c:\sites\tmp     # Folder for store downloaded zip
        php_dir: c:\sites\outils\php56   # Folder updated
        backup_dir: c:\sites\backup     # Folder to write the backup before update
        php_branch: php56     # The PHP branch to install